*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Cantarell, Ubuntu, "Open Sans", "Helvetica Neue", sans-serif;
  letter-spacing: 0.2px;
  line-height: 1.4;
  font-size: 16px;
  padding: 0.5rem;
}
.bot-outer-box {
  display: none;
}

.bot-outer-box {
  border-radius: 20px;
  border: 1px solid #bbbaba;
  height: 47rem;
  width: 40%;
  margin: 0 auto;
  position: relative;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.19), 0px 2px 2px rgba(0, 0, 0, 0.23);

  .heading-bg {
    background: linear-gradient(123.75deg, #f5821f 1.87%, #ff5c00 120.46%);
    width: 100%;
    height: 18rem;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    position: absolute;
    .heading-text-div {
      font-weight: 700;
      color: #fff;
      position: absolute;
      top: 3rem;
      left: 5rem;
      h1 {
        font-size: 1.9rem;
      }
      h2 {
        font-size: 1.4rem;
      }
      p {
        font-size: 1.2rem;
        font-weight: 400;
      }
    }
  }
  .bot-robot {
    width: 4rem;
    height: 4rem;
    background: linear-gradient(180deg, #ff7600 0%, #ff5c00 100%);
    border-radius: 5rem;
    color: #fff;
    font-size: 2rem;
    display: grid;
    place-items: center;
    top: 12rem;
    left: 4rem;
    position: absolute;
  }
  .question-bg {
    background: #fff;
    border-radius: 0.5rem;
    border: 1px solid #e4e4e4;
    box-shadow: 0px 0px 0px rgba($color: #000000, $alpha: 0.05);
    position: absolute;
    width: 90%;
    height: 30rem;
    left: 5%;
    top: 14rem;
    .question-heading {
      color: #2d2d2d;
      position: absolute;
      top: 3rem;
      left: 2rem;
      display: flex;
      .question-icon {
        width: 1.2rem;
        height: 1.2rem;
        font-size: 0.7rem;
        margin-left: 0.8rem;
      }
    }

    .question-icon {
      background: #f5831f26;
      color: #ff5c00;
      display: grid;
      place-items: center;
      border-radius: 2rem;
    }

    .single-question-div {
      width: 90%;
      border: 1px solid #e1e1e1;
      border-radius: 0.5rem;
      box-shadow: 0px 0px 8px rgba($color: #000000, $alpha: 0.05);
      padding: 1rem 0.5rem;
      display: flex;
      p {
        font-size: 0.9rem;
        color: #2d2d2d;
      }
      .question-icon {
        margin-right: 0.8rem;
        font-size: 0.55rem;
        width: 1rem;
        height: 1rem;
      }
    }
    .question1 {
      position: absolute;
      top: 6rem;
      left: 5%;
    }
    .question2 {
      position: absolute;
      top: 10.5rem;
      left: 5%;
    }
    .question3 {
      position: absolute;
      top: 15rem;
      left: 5%;
    }
    .question4 {
      position: absolute;
      top: 19.5rem;
      left: 5%;
    }

    .question-btn {
      position: absolute;
      top: 25rem;
      left: 4rem;
      button {
        padding: 0.9rem 2rem;
        background: #fff;
        border: 1px solid #d1d1d1;
        box-shadow: 0px 4px 5px rgba($color: #000000, $alpha: 0.1);
        border-radius: 6rem;
        font-size: 1rem;
        font-weight: 500;
        .fas {
          padding-right: 0.5rem;
          color: #555555;
        }
      }
    }
  }
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(-30);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

.heading-bg-animation {
  animation: moveInBottom 2s ease-out 0.5s;
  animation-fill-mode: backwards;
}

.heading-text-div-animation {
  animation: moveInBottom 1.5s ease-out 1.5s;
  animation-fill-mode: backwards;
}
.bot-robot-animation {
  animation: moveInBottom 0.5s ease-out 1.5s;
  animation-fill-mode: backwards;
}
.bot-robot-animation1 {
  animation: moveInBottom 0.5s ease-out 3s;
  animation-fill-mode: backwards;
}
.question-bg-animation {
  animation: moveInBottom 1s linear 2.5s;
  animation-fill-mode: backwards;
}
.question1-animation {
  animation: moveInBottom 1s linear 3.5s;
  animation-fill-mode: backwards;
}
.question2-animation {
  animation: moveInBottom 1s linear 4.5s;
  animation-fill-mode: backwards;
}
.question3-animation {
  animation: moveInBottom 1s linear 5.5s;
  animation-fill-mode: backwards;
}
.question4-animation {
  animation: moveInBottom 1s linear 6.5s;
  animation-fill-mode: backwards;
}
.btn-animation {
  animation: moveInBottom 1s linear 7s;
  animation-fill-mode: backwards;
}

// refresh button

.refresh-btn {
  font-size: 24px;
  color: black;
  position: fixed;
  bottom: 1rem;
  left: 1rem;
  cursor: pointer;
  z-index: 1;
}
.refresh-btn:hover {
  color: red;
}
// popup buttons
.popup-close-btn {
  border: none;
  outline: none;
  color: #fff;
  background: transparent;
  font-size: 1.5rem;
  position: absolute;
  z-index: 99;
  right: 1rem;
  top: 1rem;
}

.popup-open-btn {
  height: 80px;
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  cursor: pointer;
  z-index: 1;
  float: right;
  font-size: 0;
}
